In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [25]:
tran_data = pd.read_csv("transactions_train.csv")
customer_data = pd.read_csv("customers.csv")
article_data = pd.read_csv("articles.csv")

In [29]:
tran_data_columns = tran_data.columns.values.tolist()
customer_data_columns = customer_data.columns.values.tolist()
article_data_columns = article_data.columns.values.tolist()

In [42]:
tran_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             object
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.2+ GB

In [37]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1371980 entries, 0 to 1371979
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1371980 non-null  object
 1   FN                      476930 non-null   float64
 2   Active                  464404 non-null   float64
 3   club_member_status      1365918 non-null  object
 4   fashion_news_frequency  1355971 non-null  object
 5   age                     1356119 non-null  float64
 6   postal_code             1371980 non-null  object
dtypes: float64(3), object(4)
memory usage: 73.3+ MB

In [38]:
article_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int64
 1   product_code                  105542 non-null  int64
 2   prod_name                     105542 non-null  object
 3   product_type_no               105542 non-null  int64
 4   product_type_name             105542 non-null  object
 5   product_group_name            105542 non-null  object
 6   graphical_appearance_no       105542 non-null  int64
 7   graphical_appearance_name     105542 non-null  object
 8   colour_group_code             105542 non-null  int64
 9   colour_group_name             105542 non-null  object
 10  perceived_colour_value_id     105542 non-null  int64
 11  perceived_colour_value_name   105542 non-null  object
 12  perceived_colour_master_id    105542 non-null  int64
 13  perceived_colour_master_name  105542 non-null  object
 14  department_no                 105542 non-null  int64
 15  department_name               105542 non-null  object
 16  index_code                    105542 non-null  object
 17  index_name                    105542 non-null  object
 18  index_group_no                105542 non-null  int64
 19  index_group_name              105542 non-null  object
 20  section_no                    105542 non-null  int64
 21  section_name                  105542 non-null  object
 22  garment_group_no              105542 non-null  int64
 23  garment_group_name            105542 non-null  object
 24  detail_desc                   105126 non-null  object
dtypes: int64(11), object(14)
memory usage: 20.1+ MB

In [39]:
#Join customer and transaction

In [45]:
merge_phase_1 = pd.merge(
    tran_data, #left
    customer_data, #right
    how="inner",
    on="customer_id",
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None, #TODO: validate many_to_one ratio
)

In [48]:
merge_phase_2 = pd.merge(
    merge_phase_1, #left
    article_data, #right
    how="inner",
    on="article_id",
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None, #TODO: validate many_to_one ratio
)

# TODOS:
We have to find the right combination of merge (join) between these three dataframes, and decide on what is the best
Combination among these dataframes. One cheap way to do it is to a correlation between different X_n (columns) and Y_n(purchased or not.)

Below joins are just few examples to see how all these data fit together.

In [46]:
merge_phase_1.head()

,t_dat,customer_id,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,2018-12-27,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,625548001,0.044051,1,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,2018-12-27,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,176209023,0.035576,1,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
2,2018-12-27,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,627759010,0.030492,1,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
3,2019-05-02,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,697138006,0.010153,2,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
4,2019-05-25,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,568601006,0.050831,2,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...

In [49]:
merge_phase_2.head()

,t_dat,customer_id,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,2019-07-14,000f7535bdc611ad136a9f04746d6b1431f50a7f60fbbe...,108775015,0.008458,1,NaN,NaN,ACTIVE,NONE,48.0,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,2019-07-14,000f7535bdc611ad136a9f04746d6b1431f50a7f60fbbe...,108775015,0.008458,1,NaN,NaN,ACTIVE,NONE,48.0,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,2019-07-14,000f7535bdc611ad136a9f04746d6b1431f50a7f60fbbe...,108775015,0.008458,1,NaN,NaN,ACTIVE,NONE,48.0,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,2018-09-29,001ae5408a043f64bccd32beffe2730151414cbdf18a6e...,108775015,0.006763,1,1.0,1.0,ACTIVE,Regularly,50.0,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
4,2018-09-29,001ae5408a043f64bccd32beffe2730151414cbdf18a6e...,108775015,0.006763,1,1.0,1.0,ACTIVE,Regularly,50.0,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.

In [11]:
# columns = [col for col in data.columns]

In [50]:
print(f"Columns in dataset:{len(merge_phase_2.columns)}")

Columns in dataset:35

In [51]:
print(f"Rows in dataset:{len(merge_phase_2.index)}")

Rows in dataset:31788324

In [52]:
#safe to assume we can make prediction for all customer id

In [54]:
merge_phase_2.dtypes

t_dat                            object
customer_id                      object
article_id                        int64
price                           float64
sales_channel_id                  int64
FN                              float64
Active                          float64
club_member_status               object
fashion_news_frequency           object
age                             float64
postal_code                      object
product_code                      int64
prod_name                        object
product_type_no                   int64
product_type_name                object
product_group_name               object
graphical_appearance_no           int64
graphical_appearance_name        object
colour_group_code                 int64
colour_group_name                object
perceived_colour_value_id         int64
perceived_colour_value_name      object
perceived_colour_master_id        int64
perceived_colour_master_name     object
department_no                     int64
department_name                  object
index_code                       object
index_name                       object
index_group_no                    int64
index_group_name                 object
section_no                        int64
section_name                     object
garment_group_no                  int64
garment_group_name               object
detail_desc                      object
dtype: object

In [55]:
##Total Number of Missing values in each column
merge_phase_2.isna().sum()

t_dat                                  0
customer_id                            0
article_id                             0
price                                  0
sales_channel_id                       0
FN                              18209837
Active                          18412468
club_member_status                 62165
fashion_news_frequency            141711
age                               140258
postal_code                            0
product_code                           0
prod_name                              0
product_type_no                        0
product_type_name                      0
product_group_name                     0
graphical_appearance_no                0
graphical_appearance_name              0
colour_group_code                      0
colour_group_name                      0
perceived_colour_value_id              0
perceived_colour_value_name            0
perceived_colour_master_id             0
perceived_colour_master_name           0
department_no                          0
department_name                        0
index_code                             0
index_name                             0
index_group_no                         0
index_group_name                       0
section_no                             0
section_name                           0
garment_group_no                       0
garment_group_name                     0
detail_desc                       115027
dtype: int64

## Discussion: How to handle missing values
lots of missing values

In [57]:
# There is no missing value
merge_phase_2.isna().sum().any()

True